/* Add scroll snap */
html {
    scroll-behavior: smooth !important;
  }
  
  body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  
  section {
    scroll-snap-align: center;
  }
  
  
  /* Add custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }




@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-text {
    background: linear-gradient(90deg, #38bdf8, #a855f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes neonGlow {
    from {
      text-shadow: 0 0 10px #38bdf8, 0 0 20px #a855f7;
    }
    to {
      text-shadow: 0 0 20px #38bdf8, 0 0 30px #a855f7;
    }
  }
  